{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block login_active %}class="active"{% endblock %}
{% block content %}


<div class="row">
  <div class="col-md-8 mx-auto social-container my-2 order-md-1">
    <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/facebook-login.png' %}" alt="Login with Facebook" height=87px width=234px></a>
  </div>
  <div class="col-md-8 mx-auto social-container my-2 order-md-1">
    or login with user :<br>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </div>
</div>





{% endblock %}
